.grafico-faixaEtaria{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 50%;
    height: 500px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    margin: 20px auto;
}